<h2 class="font-bold text-3xl mb-6">{{'auth.enterVerifcationCode'|translate}}</h2>
<form [formGroup]="formly" (ngSubmit)="onSubmit()" class="mb-6">
  <formly-form [model]="formlyModel" [fields]="formlyFields" [form]="formly"/>
  <app-shared-button [btnType]="'submit'" [label]="'btn.verify'|translate" [styleClass]="'bg-primary text-white text-lg w-full rounded-md px-8 py-2 mb-6 font-bold'"/>
  <app-shared-button  [label]="'auth.sendCodeAgain'|translate" [styleClass]="'text-primary text-lg w-full rounded-md px-8 py-2 font-bold'"/>
</form>
