<h2 class="font-bold text-3xl mb-6">{{'auth.forgotYourPassword'|translate}}</h2>
<p class="text-sm text-textTertairy font-medium mb-6">{{'auth.forgetPasswordDescription'|translate}}</p>
<form [formGroup]="formly" (ngSubmit)="onSubmit()" class="mb-6">
  <formly-form [model]="formlyModel" [fields]="formlyFields" [form]="formly"/>
  <app-shared-button [btnType]="'submit'" [label]="'auth.resetPassword'|translate" [styleClass]="'bg-primary text-white text-lg w-full rounded-md px-8 py-2 mb-6'"/>
  <app-shared-button  [label]="'auth.backToLogin'|translate" [styleClass]="'border border-primary text-primary text-lg w-full rounded-md px-8 py-2'" [routerLink]="['/auth/login']"/>
</form>
