@layer base {
  :root {
    --primary: #2D61F5;
    --yale-blue:#155A9A;
    --border-primary:#D5D7DA;
    --text-secondary:#414651;
  }
}
// background: linear-gradient(180deg, #2D61F5 0%, #155A9A 100%);
